* {
    margin: 0%;
    padding: 0%;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem;
   

}

ul {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    text-decoration: none;
}

h1{
    color:palevioletred;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:large;
  margin-top: -0.1rem;
}
li {
    list-style: none;
    margin-top: 0.2rem;

}

.a {
    text-decoration: none;
    color:wheat;
   padding: 0.1rem;
}

a:hover{
    background-color:palevioletred
}

.span{
 padding: 0.3rem;
 margin-left: -1rem;
 margin-top: 0.1rem;
 font-size: smaller;   
}

.span:hover{
color:palevioletred ;

}

#disabled:disabled{
    padding-top: 0.1rem;
}

#disabled:hover{
    background-color:gray
}
.form {
    border-top: 0.5rem;
    border-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    padding: 0.2rem;


}

button{
    margin-right: 0.1rem;
    border-radius: 10%;
    border-color: palevioletred;
    background-color: transparent;
    color:wheat ;

}

button:hover{
    background-color: palevioletred;
}
